@font-face {
    font-family: Source Sans;
    src: url(/fonts/Source-sans/SourceSans3-Regular.ttf);
}

:root
{
    --margin-null: 0;
}

body
{
    margin: var(--margin-null);
    line-height: 1.4;
    font-family: Source Sans, Helvetica, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    margin: var(--margin-null);
}

a
{
    color: inherit;
}

a[target="_blank"]::after
{
    color: inherit;
    content: "";
    margin: 0 0 0 4px;
    font-size: 0.8rem;
    font-weight: 900;
    position: relative;
    top: -1px;
    white-space: nonwrap;
}

/* INICIO DEL HEADER */
.header-container
{
    background-color: #0073b7;

    border-bottom: 1px solid #0067a3;
    align-items: center;
}

.header-display
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    margin-left: 20%;
    max-width: 1150px;
}

.header-site-logo
{
    padding-top: 10px;
}

.header-navigation-menu
{
    margin: 32px 15px;
}

.header-navigation-menu_list
{
    padding: 0;
    margin: 0;
}

.header-navigation-menu_item
{
    color: #ffffff;
    display: inline;
    padding: 0 15px;
}

.header-navigation-menu_item_hyperlink
{
    text-decoration: none;
}
/* FIN DEL HEADER */

/* INICIO DEL BANNER */
.banner
{
    background-color: #006dad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
}

.homepage-banner_title
{
    padding: 0 2rem;
    padding-bottom: 40px;
    color: #ffffff;
    max-width: 40%;
    font-size: 2.5rem;
}

.search-form
{
    width: 650px;
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.search-form_search
{
    width: 100%;
    height: 50px;
    font-size: 1.32rem;
    border: transparent;
    border-radius: 3px;
}


#homepage-pysearch:hover
{
    border: 1px solid #00000000;
}

.search-button
{
    position: absolute;
    right: 2%;
    top: 9%;
    height: 2.7rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.search-button_loupe
{
    height: 60%;
}

.homepage-banner_browse
{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}
/* FIN DEL BANNER */

/* INICIO DEL STATISTICS BAR */
.statistics-bar
{
    background-color: #ececec;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.statistics-bar_statistic
{
    font-size: 1.2rem;
    color: #003d61;
}
/* FIN DEL STATISTICS BAR */

/* INICIO DEL ABOUT PY */
.about-py
{
    display: flex;
    flex-direction: row;
    padding: 3.8rem 0;
    justify-content: center;
    align-items: center;
}

.about-py_logo
{
    padding-right: 50px;
    padding-top: 10px;
    width: 220px;
}

.about-py_text
{
    max-width: 42rem;
}

.about-py_text p
{
    padding-bottom: 15px;
    margin: 0px;
}

.about-py_text_paragraph
{
    color: #606060;
    font-size: 1.2rem;
    font-weight: 600;
}

.about-py a
{
    color: #006dad;
}
/* FIN DEL ABOUT PY */

/* INICIO DEL FOOTER */
.footer
{
    background-color: #0073b7;
    padding: 3.5rem 0;
    color: #ffffff;
}

.footer h2
{
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.footer ul
{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer li
{
    padding: 2px 0;
}

.footer_menus a
{
    text-decoration: none;
}

.footer_logo
{
    margin-bottom: 2rem;
    text-align: center;
}

.footer_menus
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_menus_item
{
    text-align: center;
    margin: 0 15px 40px;
    flex-basis: 220px;
}

.footer-navigation-menu
{
    
}

.footer-divider
{
    border: 1px solid #ffffff4d;
    width: 12rem;
    margin-bottom: 30px;
}

.footer-info
{
    text-align: center;
    font-size: 0.9rem;
    margin: auto;
    max-width: 600px;
}
/* FIN DEL FOOTER */

/* INICIO DEL CHANGE LENGUAJE */

.change-lenguaje
{
    background-color: #0070b2;
}

.change-lenguaje_list
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #0067a3;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.change-lenguaje button
{
    background-color: transparent;
    border: 0;
    color: #ffffff;
    padding: 0;
    text-decoration: underline;
}

/* FIN DEL CHANGE LENGUAJE */